body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  /* .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  } */
  
  /* Remove extra left and right margins, due to padding */
  .row {
      margin: 0 -5px;
      display: flex;
    }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 160px;
    text-align: center;
    background-color: #f1f1f1;
  }
 
  .card-active{
      background-color: #61255a;
      opacity: 90%;
  }
  .card-waiting{
    background-color: #61255a;
    opacity: 75%;
  }
  .parent{
    position: relative;
  }
  .child{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }